<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/formSingIn.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
  <script type="text/javascript" src="javascript/Funciones/validaciones.js"></script>
  <title>Becas UTEC</title>
</head>
<body>
  <form action="sign_in" method="POST" name="application_form">
    <div class="wrapper">
      <div class="container">
        <div class="title">Ingresa tus Datos</div>
        <div class="input-form" id="part-1">
            <div class="input-form-title"> Creacion de Usuario.</div>
            <div class="section-3">
                <div class="items">
                    <label class="label">Nombres:</label>
                    <input type="text" class="input" name="nombreUsuario" maxlength="50" placeholder="Nombres">
                </div>                
                <div class="items">
                    <label class="label">Apellidos:</label>
                    <input type="text" class="input" name="apellidoUsuario" maxlength="50" placeholder="Apellidos">
                </div>
            </div>
            <div class="section-4">
                <div class="items">
                    <label class="label">Fecha de Nacimiento:</label>
                    <input type="date" name="fechaNacimiento" class="input">
                </div>                
                <div class="items">
                    <label class="label">N° de Carnet:</label>
                    <input type="text" class="input" name="carnet" placeholder="00-0000-0000">
                </div>
                <div class="items">
                    <label class="label">Carrera:</label>
                    <select class="input" name="carrera" id="carrera">
                        <option value="0">Seleccione su Carrera</option>
                        <option value="1">Ing. Sistemas & Computacion</option>
                        <option value="2">Ing. Industrial</option>
                        <option value="3">Lic. Sistemas & Computacion</option>
                        <option value="4">Lic. Administracion de Empresas</option>
                        <option value="5">Lic. Idiomas</option>
                    </select>
                </div>
            </div>
            <div class="section-4">
                <div class="items-ai">
                    <label class="label">Direccion Particular:</label>
                    <input type="text" class="input" name="direccion" maxlength="500" placeholder="Direccion Particular...">
                </div>
                <div class="items">
                    <div class="list-checkbox-inline">
                        <p>Sexo:</p>
                        <div>
                            <input type="radio" id="Masculino" value="1" name="radio_sexo" checked>
                            <label for="Masculino">Masculino</label>
                        </div>
                        <div>
                            <input type="radio" id="Femenino" value="2" name="radio_sexo">
                            <label for="Femenino">Femenino</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-4">
                <div class="items">
                    <label class="label">Edad:</label>
                    <input type="number" class="input" name="edadU" maxlength="2" placeholder="0">
                </div>
                <div class="items">
                    <label class="label">Numero de DUI:</label>
                    <input type="text" class="input" name="DUI" placeholder="Numero de DUI">
                </div>                
                <div class="items">
                    <label class="label">Numero de NIT:</label>
                    <input type="text" class="input" name="NIT" placeholder="Numero de NIT">
                </div>
            </div>
            <div class="section-4">
                <div class="items">
                    <label class="label">Email:</label>
                    <input type="email" class="input" name="email" maxlength="30" placeholder="Email@mail.com">
                </div>
                <div class="items">
                    <label class="label">Password:</label>
                    <input type="password" class="input" name="password" maxlength="20" placeholder="Password">
                </div>
                <div class="items">
                    <label class="label">Ciclo Actual que cursa:</label>
                    <select class="input" name="Ciclo" id="Ciclo">
                        <option value="0">Seleccione una Opcion</option>
                        <option value="1">Primer Ciclo</option>
                        <option value="2">Segundo Ciclo</option>
                        <option value="3">Tercer Ciclo</option>
                        <option value="4">Cuarto Ciclo</option>
                        <option value="5">Quinto Ciclo</option>
                        <option value="6">Sexto Ciclo</option>
                        <option value="7">Septimo Ciclo</option>
                        <option value="8">Octavo Ciclo</option>
                        <option value="9">Noveno Ciclo</option>
                        <option value="10">Decimo Ciclo</option>
                    </select>
                </div>
            </div>
            <div class="section-4">
                <div class="items">
                    <label class="label">CUM General:</label>
                    <input type="text" class="input" name="CUM" maxlength="3" placeholder="10.0">
                </div>
                <div class="items">
                    <label class="label">Telefono:</label>
                    <input type="tel" class="input" name="telefonoUsuario" placeholder="(503) 2222-2222">
                </div>                
                <div class="items">
                    <label class="label">Celular:</label>
                    <input type="tel" class="input" name="celularUsuario" placeholder="(503) 7777-7777">
                </div>
            </div>
            <hr class="divider">
        </div>
        <div class="container-btns">
            <a href="index" class="btn">Cancelar</a>
            <input type="submit" class="btn submitCrearUsuario" value="Enviar">
        </div>
    </div>
  </form>
</body>
</html>