<div class="dashboard-box">
    <span class="title-box"><i class="fas fa-angle-right icono-modelo"></i>Pagina en Mantenimiento.</span>
    <p class="paragraph-box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fugit nihil impedit molestias sit ducimus distinctio illo esse ab quas?
    </p>
</div>