<div class="dashboard-box">
    <div class="box-items">
        <span class="title-box">Reportes.</span>
    </div>
    <div class="box-items">
        <div class="box-grid">
            <div class="item-grid">
                <div class="item-grid-head">
                    <span class="title-item-grid">Reporte de Pendientes</span>
                    <span class="subtitle-item-grid">Listado de Solicitudes Pendientes</span>
                    <span class="subtitle-item-grid">ordenado por <span id="order_rpt_Pendientes">Apellidos A-Z</span>.</span>
                </div>
                <div class="item-grid-body">
                    <div class="icono-item-grid-body">
                        <i class="far fa-file-pdf"></i>
                    </div>
                </div>
                <div class="item-grid-footer">
                    <a id="report" class="link btn-emphasis generate_rpt" href="#">
                        <span id="Pendientes" style="display: none;">order_rpt_Pendientes</span>
                        <span>Generar Reporte</span>
                    </a>
                    <div class="link-controls">
                        <span><i class="fas fa-ellipsis-h"></i></span>
                        <div class="control-items">
                            <a class="order_rpt" id="Pendientes" href="#">Apellidos A-Z</a>
                            <a class="order_rpt" id="Pendientes" href="#">Apellidos Z-A</a>
                            <a class="order_rpt" id="Pendientes" href="#">Nombres A-Z</a>
                            <a class="order_rpt" id="Pendientes" href="#">Nombres Z-A</a>
                            <a class="order_rpt" id="Pendientes" href="#">CUM Min-Max</a>
                            <a class="order_rpt" id="Pendientes" href="#">CUM Max-Min</a>
                            <a class="order_rpt" id="Pendientes" href="#">Rubros A-Z</a>
                            <a class="order_rpt" id="Pendientes" href="#">Rubros Z-A</a>
                            <a class="order_rpt_date" id="report-dates" href="#">
                                <span id="Pendientes" style="display: none;">order_rpt_Pendientes</span>
                                <span>Rango de Fecha</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-grid">
                <div class="item-grid-head">
                    <span class="title-item-grid">Reporte de Denegados</span>
                    <span class="subtitle-item-grid">Listado de Solicitudes Denegadas</span>
                    <span class="subtitle-item-grid">ordenado por <span id="order_rpt_Denegados">Apellidos A-Z</span>.</span>
                </div>
                <div class="item-grid-body">
                    <div class="icono-item-grid-body">
                        <i class="far fa-file-pdf"></i>
                    </div>
                </div>
                <div class="item-grid-footer">
                    <a id="report" class="link btn-emphasis generate_rpt" href="#">Generar Reporte
                        <span id="Denegados" style="display: none;">order_rpt_Denegados</span>
                    </a>
                    <div class="link-controls">
                        <span><i class="fas fa-ellipsis-h"></i></span>
                        <div class="control-items">
                            <a class="order_rpt" id="Denegados" href="#">Apellidos A-Z</a>
                            <a class="order_rpt" id="Denegados" href="#">Apellidos Z-A</a>
                            <a class="order_rpt" id="Denegados" href="#">Nombres A-Z</a>
                            <a class="order_rpt" id="Denegados" href="#">Nombres Z-A</a>
                            <a class="order_rpt" id="Denegados" href="#">CUM Min-Max</a>
                            <a class="order_rpt" id="Denegados" href="#">CUM Max-Min</a>
                            <a class="order_rpt" id="Denegados" href="#">Rubros A-Z</a>
                            <a class="order_rpt" id="Denegados" href="#">Rubros Z-A</a>
                            <a class="order_rpt_date" id="report-dates" href="#">
                                <span id="Denegados" style="display: none;">order_rpt_Denegados</span>
                                <span>Rango de Fecha</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-grid">
                <div class="item-grid-head">
                    <span class="title-item-grid">Reporte de Aprobados</span>
                    <span class="subtitle-item-grid">Listado de Solicitudes Aprobadas</span>
                    <span class="subtitle-item-grid">ordenado por <span id="order_rpt_Aprobados">Apellidos A-Z</span>.</span>
                </div>
                <div class="item-grid-body">
                    <div class="icono-item-grid-body">
                        <i class="far fa-file-pdf"></i>
                    </div>
                </div>
                <div class="item-grid-footer">
                    <a id="report" class="link btn-emphasis generate_rpt" href="#">Generar Reporte
                        <span id="Aprobados" style="display: none;">order_rpt_Aprobados</span>
                    </a>
                    <div class="link-controls">
                        <span><i class="fas fa-ellipsis-h"></i></span>
                        <div class="control-items">
                            <a class="order_rpt" id="Aprobados" href="#">Apellidos A-Z</a>
                            <a class="order_rpt" id="Aprobados" href="#">Apellidos Z-A</a>
                            <a class="order_rpt" id="Aprobados" href="#">Nombres A-Z</a>
                            <a class="order_rpt" id="Aprobados" href="#">Nombres Z-A</a>
                            <a class="order_rpt" id="Aprobados" href="#">CUM Min-Max</a>
                            <a class="order_rpt" id="Aprobados" href="#">CUM Max-Min</a>
                            <a class="order_rpt" id="Aprobados" href="#">Rubros A-Z</a>
                            <a class="order_rpt" id="Aprobados" href="#">Rubros Z-A</a>
                            <a class="order_rpt_date" id="report-dates" href="#">
                                <span id="Aprobados" style="display: none;">order_rpt_Aprobados</span>
                                <span>Rango de Fecha</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-grid">
                <div class="item-grid-head">
                    <span class="title-item-grid">Reporte de Pre Aprobados</span>
                    <span class="subtitle-item-grid">Listado de Solicitudes Pre Aprobadas</span>
                    <span class="subtitle-item-grid">ordenado por <span id="order_rpt_PreAprobados">Apellidos A-Z</span>.</span>
                </div>
                <div class="item-grid-body">
                    <div class="icono-item-grid-body">
                        <i class="far fa-file-pdf"></i>
                    </div>
                </div>
                <div class="item-grid-footer">
                    <a id="report" class="link btn-emphasis generate_rpt" href="#">Generar Reporte
                        <span id="PreAprobados" style="display: none;">order_rpt_PreAprobados</span>
                    </a>
                    <div class="link-controls">
                        <span><i class="fas fa-ellipsis-h"></i></span>
                        <div class="control-items">
                            <a class="order_rpt" id="Aprobados" href="#">Apellidos A-Z</a>
                            <a class="order_rpt" id="Aprobados" href="#">Apellidos Z-A</a>
                            <a class="order_rpt" id="Aprobados" href="#">Nombres A-Z</a>
                            <a class="order_rpt" id="Aprobados" href="#">Nombres Z-A</a>
                            <a class="order_rpt" id="Aprobados" href="#">CUM Min-Max</a>
                            <a class="order_rpt" id="Aprobados" href="#">CUM Max-Min</a>
                            <a class="order_rpt" id="Aprobados" href="#">Rubros A-Z</a>
                            <a class="order_rpt" id="Aprobados" href="#">Rubros Z-A</a>
                            <a class="order_rpt_date" id="report-dates" href="#">
                                <span id="PreAprobados" style="display: none;">order_rpt_PreAprobados</span>
                                <span>Rango de Fecha</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

