<div id="pageHeader">
    <div class="head-report">
        <div class="header-page">
            <div class="page-block-2">
                <div class="content-left">
                    <span class="title-header element-full">Reporte de Solicitantes:</span>
                    <span class="title-header element-full"><b><%-titulo_reporte%></b></span>
                </div>
            </div>
            <div class="page-block-2">
                <div class="content-right">
                    <img src="assets/index-banner.jpg" alt="Logo UTEC">
                </div>
            </div>
        </div>
    </div>
</div>