<div id="pageHeader">
    <div class="head-report">
        <div class="header-page">
            <div class="page-block-2">
                <div class="content-left">
                    <span class="title-header element-full">Reporte de Solicitantes:</span>
                    <span class="title-header element-full"><b><%-titulo_reporte%></b></span>
                </div>
            </div>
            <div class="page-block-2">
                <div class="content-right">
                    <div class="img"> Hola</div>
                    <!--<img src="https://biblioteca.utec.edu.sv/entorno/public/site/images/logo_utec.png" alt="Logo UTEC" class="logo">-->
                </div>
            </div>
        </div>
    </div>
</div>