<div class="footer-report" id="pageFooter">
    <div class="footer-page">
        <div class="page-block-2">
            <div class="content-left">
                <span class="element-full"><b>Fecha: </b><span><%= moment().format('DD/MM/YYYY'); %></span></span>
                <span class="element-full"><b>Universidad Tecnológica de El Salvador</b></span>
                <span class="element-full"><b>Realizado por: </b><%- datos.Nombre + " " + datos.Apellido%></span>
            </div>
        </div>
        <div class="page-block-2">
            <div class="content-right">
                <span>Pag: {{page}} de {{pages}}</span>
            </div>
        </div>
    </div>
</div>
